{% extends "base.html" %}

# amend code in this block


{% block content %}
  <h2>
    Username: {{ object.username }}
  </h2>
  <p><strong>First name:</strong>{{ redactor.first_name }}</p>
  <p><strong>Last name:</strong>{{ redactor.last_name }}</p>
  <p><strong>Years of experience:</strong> {{ redactor.years_of_experience }}</p>
  
  <div class="ml-3">
    Published topics: {{ newspaper.title.count }}
    <ul>
    {% for newspaper in redactor.newspaper.all %}
      <li>
        <a href="{% url "catalog:redactor-detail" redactor.id %}">
          {{ redactor.model }}
        </a>
      </li>
    {% empty %}
      <div>NO PUBLISHED TOPICS</div>
    {% endfor %}
    </ul>
  </div>
{% endblock %}


# amend code in this block 