{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    List of Topics:
    <a href="{% url 'catalog:topic-create' %}" class="btn btn-primary link-to-page">
    Create
    </a>
  </h1>
  <br>
  <form action="" method="get">
    {{ search_form|crispy }}
    <input type="submit" value="Search" class="btn btn-secondary">
  </form>
  <br>
  {% if topic_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      
    {% for topic in topic_list %}
      <tr>
        <td>{{ topic.id }}</td>
        <td>{{ topic.name }}</td> 
        <td><a href="{% url 'catalog:topic-update' topic.id %}">Update</a></td>
        <td><a style="color: red"
               href="{% url 'catalog:topic-delete' topic.id %}">
          Delete
            </a>
        </td>
      </tr>
    {% endfor %}
    </table>

  {% else %}
    <p>There are no topics.</p>
  {% endif %}
{% endblock %}
